In [ ]:
squares_list= []

for x in range(1,10):
    squares_list.append(x**2)
print(squares_list)

In [ ]:
squares_list = [x**2 for x in range(1,10)]
print(squares_list)

In [ ]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]

In [ ]:
# ['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'color.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back']

In [ ]:
single_word_list =[]

for sentence in paragraph:
    for word in sentence.split():
        single_word_list.append(word)

print(single_word_list)

In [ ]:
single_word_list  = [word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

In [ ]:
#list comp with if statement
vowels = ['a','e','i','o','u']
vowels_from_sentence =[]
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)

print(vowels_from_sentence)

In [ ]:
#[ for sentence in paragraph]
#[ for sentence in paragraph for word in sentence.split()]
#[<the_expression> for <the_element> in <the_iterable> if <the_condition>]

In [ ]:
vowels_comp = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_comp)

In [ ]:
squared_dictionary = {num : num**2 for num in range(0, 25)}
print(squared_dictionary)

In [ ]:
students_data = {1:['Shivam Bansal', 24] , 2:['Udit Bansal',25], 3:['Sonam Gupta', 26], 4:['Saif Ansari',24], 5:['Huzefa Calcuttawala',27]}

In [ ]:
names_dict ={}

#iterate over each key, val pair
for roll_num,details in students_data.items():
    if roll_num%2==0:
        names_dict[roll_num]= details[0]
print(names_dict)

In [ ]:
names_comp = {roll_num:details[0] for roll_num,details in students_data.items() if roll_num%2==0}
print(names_comp)

In [ ]:
#if else in comprehension
#[<the_expression> if <the_condition> else <other_expression> for <the_element> in <the_iterable>]

In [1]:
#Example  Suppose we need to create a list of multiple of 6 for even numbers between 1 to 10 and
#multiple of 5 for rest of the numbers.
[ n*6 if n%2 ==0 else n*5 for n in range(1,11)]

[5, 12, 15, 24, 25, 36, 35, 48, 45, 60]

In [4]:
#[ <the_expression> for <element_a> in <iterable_a> (optional if <condition_a>)
#for <element_b> in <iterable_b> (optional if <condition_b>)
#for <element_c> in <iterable_c> (optional if <condition_c>)
#... and so on ...]

print([(i*j) for i in range(1,4) for j in range(1,11)])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]